@media only screen and (min-width: 768px) {
	.mainmenu {
	    float: right;
	    padding: 0;
	    margin-bottom: 0;
	    > li {
	        float: left;
	        position: relative;
			> a {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				padding-right: 1.2rem;
				padding-left: 1.2rem;
				border-bottom: none;
				display: block;
				color: #4c4c4c;
				font-weight: bold;
				font-size: 0.875rem;
				&:before {
					border-style: solid;
				    border-width: .5rem .5rem 0 0;
				    content: "";
				    position: absolute;
				    bottom: -0.625rem;
				    left: .5rem;
				    transition: 1s ease;
				    opacity: 0;
				}
				&:after {
					border-bottom: .1875rem solid;
					content: "";
					height: .1875rem;
					position: absolute;
					bottom: -0.1875rem;
					left: 0;
					width: 100%;
					opacity: 0;
					transition: 1s ease;
				}
			}
	    }
	    li {
	        list-style: none;
	        &.menu-item-has-children {
	        	&:after {
	        		content: "\f107";
	        		font-family: Font Awesome\ 5 Free;
	        		position: absolute;
	        		right: 5px;
	        		top: 23px;
	        		font-weight: 900;
	        	}
	        }
	        a {
	        	&:hover {
	        		color: #303030;
	        	}
	        	&.active {
	        		position: relative;
	        		color: #303030;
	        		&:before,
	        		&:after {
						opacity: 1;
	        		}
	        	}
	        }

	    }
	}
	/* Sub Menu CSS */
	.mainmenu .sub-menu,
	.mainmenu .children {
	    min-width: 300px;   
	    position: absolute;
	    z-index: 999;
	    margin: 0;
	    padding: 20px;
	    background-color: #232323;
	    opacity: 0;
	    top: 102%;
	    @include prefixedallon(transform-origin, 0% 0%);
	    @include prefixed_double(transition, transform 0.3s, opacity 0.3s);
	    li {
	        position: relative;
	        a {
	            background-image: none;
	            color: $white_smoke;
	            font-family: $font_montserrat;
	            border-right: 0 none;
	            text-align: left;
	            display: block;
	            line-height: 1.5em;
	            padding: 10px 20px;
	            text-transform: none;
	            font-size: 14px;
	            font-weight: 300;
	            letter-spacing: normal;
	        }
	        &:last-child a {
	            border-bottom: none;
	        }
	    }
	}
	.mainmenu .sub-menu li:last-child > a {
	    border-bottom: 0;
	}
	.menuexpandermain {
	    display: none;
	}
	.mainmenu {
	    li:hover .sub-menu,
	    .sub-menu li:hover .sub-menu-sub {
	        display: block;
	    }
	    li:hover .children {
	        display: block;
	    } 
	    .sub-menu .sub-menu,
	    .sub-menu .sub-menu .sub-menu {
	        min-width: 300px;   
	        position: absolute;
	        z-index: 999;
	        margin: 0;
	        padding: 20px;
	        background-color: #080d18;
	        left: 88%;
	        top: -20px;
	        margin: 0;
	        opacity: 0;
	        box-shadow: 1px 9px 40px rgba(0,0,0,0.45);
	        @include prefixedallon(transform-origin, 0% 0%);
	        @include prefixed_double(transition, transform 0.4s, opacity 0.4s);
	        z-index: 1001;
	    }
	    .sub-menu li:hover .sub-menu,
	    .sub-menu .sub-menu li:hover .sub-menu {
	        opacity: 1;
	        list-style: none;
	    }
	}
	.mainmenu .sub-menu li {
	    position: relative;
	    display: block;
	}
	.megamenu {
	    &.cols-10 {
	        //min-width: 80%;
	    }
	}
	/*Animation*/
	.mainmenu {
	    li {
	        > .sub-menu,
	        > .megamenu > .sub-menu,
	        > .children {
	            @include prefixedallon(transform-style, preserve-3d);
	            @include prefixed(transform, rotateX(-90deg));
	            visibility: hidden;
	        }
	        &:hover {
	            > .sub-menu,
	            > .megamenu > .sub-menu,
	            > .children {
	                @include prefixed(transform, rotateX(0deg));
	                opacity: 1;
	                visibility: visible;
	            }
	        }
	    }
	}
	/* Default Color */
	.mainmenu {
	    li:hover>a,
	    > li > a:hover,
	    > li > a.active {
	        background-color: rgba(25, 25, 25, .05);
	        text-decoration: none;
	    }
	}
	.mainmenu .sub-menu > li > a:hover,
	.mainmenu .sub-menu .sub-menu > li > a:hover,
	.mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover {
	    background-color:  rgba(0,0,0,0.25);
	    @include prefixed(border-radius, 0!important);
	    text-decoration: none;
	}
	.mainmenu .sub-menu .current-menu-parent > a,
	.mainmenu .sub-menu .current-menu-item > a {
	    background-color:  rgba(0,0,0,0.25);
	}
	.current-menu-ancestor .current-menu-ancestor > a {
	    background-color:  rgba(0,0,0,0.25);
	}
	.megamenu .sub-menu .current-menu-item > a,
	.megamenu .current-menu-ancestor > a,
	.megamenu.current-menu-ancestor .current-menu-ancestor > a {
	    background-color: rgba(0, 0, 0, 0);
	}
	.megamenu {
	    .sub-menu .current-menu-parent > a,
	    .sub-menu .current-menu-item > a {
	        background-color: rgba(0, 0, 0, 0);
	    }
	}
	.mainmenu .sub-menu .fa {
	    margin-right: 5px;
	    position: absolute;
	    right: 15px;
	    transform: rotate(-90deg);
	    top: 16px;
	}
	.center-nav .mainmenu {
	    display: table;
	    width: auto;
	}
	.right-side-menu .sub-menu {
	    right: -15px;
	    left: auto !important;
	}
	.right-side-menu .right-side-menu .sub-menu,
	.right-side-menu .sub-menu .sub-menu {
	    right: 100%;
	    left: auto !important;
	}
	.sub-menu .right-side-menu .sub-menu {
	    right: 100% !important;
	    left: auto !important;
	}
	.right-side-menu .sub-menu > li:hover > a i {
	    transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	}
	.mega-submenu {
	    position: static !important;
	}
	.mainmenu .sub-menu.sh-mega-menu {
	  padding: 20px;
	  width: 100% !important;
	  min-width: 760px !important;
	  right: 0;
	  box-shadow: none;
	  -webkit-box-shadow: none;
	}
	.menu-click {
		display: none;
	}
}